
@font-face {
    font-family: 'Pokemones';
    src: url(Pokemon-Solid.ttf);
    font-weight: normal;
    font-style: normal;
}

header{
    background: #bb1e1e;
    
}
header h1{
    font-size: 30px;
    text-align: center;

}

.bg-imagem{
    background: url(fundo.png);
    filter: blur(3px);
    height: 100%;
}

.pesquisa{
    position: absolute;
    top: 40%;
    height: 100px;
    width: 100%;
    display: inline-flex;
    

}

main input{
    height: 50%;
    width: 45%;
    margin-right: 30px;
    border-radius: 10px;
    border: 2px solid #bb1e1e;
    background: rgba(245, 0, 0, 0.3);
    margin-left: 20%;
    text-size-adjust: 28px;
}

.button {
    
    height: 50%;
    border-radius: 10px;
    background-color: #bb1e1e;
    border: 2px solid #bb1e1e;
    color: #000000;
    width: 200px;
    font-size: 28px;
  }



footer{
    background: #bb1e1e;
}
footer p{
    font-size: 30px;
    text-align: center;
}


::placeholder{
    color: black;
}